@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

body,
#app {
  height: 100%;
}

.font-serif {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-sans {
  font-family: "Roboto", sans-serif, serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --light--foreground: 52, 52, 52;
  --light--foreground-variant: 104, 104, 104;
  --light--surface: 248, 248, 248;
  --light--background: 246, 244, 244;
  --light--primary: 72, 72, 72;
  --light--primary-foreground: 214, 214, 214;
  --light--emphasis: 238, 238, 238;
  --light--error: 185, 0, 0;
  --light--error-foreground: 245, 243, 243;

  font-size: 16px;

  --foreground: var(--light--foreground);
  --foreground-variant: var(--light--foreground-variant);
  --surface: var(--light--surface);
  --background: var(--light--background);
  --primary: var(--light--primary);
  --primary-foreground: var(--light--primary-foreground);
  --emphasis: var(--light--emphasis);
  --error: var(--light--error);
  --error-foreground: var(--light--error-foreground);

  background: rgba(var(--background), 1);
  color: rgba(var(--foreground), 1);
}
